include ../common/Header
link(rel="stylesheet", href="/css/Login.css")

body
  #message-box-modal.modal
   .modal-content
    .modal-subcontent.bg-black
    div.close(onclick="utils.CloseMessageBox()") &times;
    .modal-subcontent
     p#message-box-content
     div.d-flex.justify-content-center
      button(class= "custom-btn modal-btn" onclick="utils.CloseMessageBox()") 
       span OK
  header#navbar-header
    p.logo Rank List
  .wrapper
      header LOGIN
      form#login-form(action="/login", method="POST")
        .field.email
          .input-area
            input(type="email", placeholder="Enter Email", id='email', name='email')
            i.icon.fas.fa-user-tie
            i.error.error-icon.fas.fa-exclamation-circle
          .error.error-txt Enter valid Email Address.
        .field.password
          .input-area
            input(type="password", placeholder="Enter Password",id='password', name='password')
            i.icon.fas.fa-lock
            i.error.error-icon.fas.fa-exclamation-circle
          .error.error-txt Enter Password 
        .pass-txt
        input(type="submit", value="Login")
      
script(src="/js/LoginView.js")